@import "@/scss/variables.module.scss";

.faq {
    display: flex;
    padding: 24px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    &_title {
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    &_description {
        color: $mid-white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
    }
}