@import "@/scss/variables.module.scss";

.actionbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 46px;
    background: $low-black;
    gap: 2px;

    &_button {
        display: flex;
        padding: 12px 0px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex: 1 0 0;
        align-self: stretch;
        outline: none;
        border: none;
        appearance: none;
        user-select: none;
        -webkit-user-drag: none;

        color: $low-black;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px; /* 150% */

        img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(9%) hue-rotate(287deg) brightness(104%) contrast(100%);
        }

        &:first-child {
            border-radius: 46px 0 0 46px;
            background: #D22C32;
        }

        &:last-child {
            border-radius: 0 46px 46px 0;
            background: #26CC57;
        }
    }
}

.range_buttons {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    
    .range_button_less {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        border-radius: 40px 0 0 40px;
        background: linear-gradient(to bottom, #BC1303, #7B0800);
        box-shadow: inset 0px 3px 1px rgba(255, 255, 255, 0.25);
        border: none;
        color: white;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        height: 40px;
        
        &.active {
            opacity: 1;
            box-shadow: 0 0 10px rgba(211, 47, 47, 0.6);
        }
        
        .down_icon {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid white;
        }
        
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    
    .range_button_more {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        border-radius: 0 40px 40px 0;
        background: linear-gradient(to bottom, #007E34, #0C553A);
        box-shadow: inset 0px 3px 1px rgba(255, 255, 255, 0.25);
        border: none;
        color: white;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        height: 40px;
        
        &.active {
            opacity: 1;
            box-shadow: 0 0 10px rgba(46, 125, 50, 0.6);
        }
        
        .up_icon {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid white;
        }
        
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}