@import "@/scss/variables.module.scss";

.actionbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    width: 100%;
    margin-bottom: 5px;

    &_button {
        position: relative;
        width: 165px;
        height: 40px;
        outline: none;
        border: none;
        appearance: none;
        user-select: none;
        -webkit-user-drag: none;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            background: #7B0800;
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                width: 162px;
                height: 35px;
                top: 0;
                left: 1.5px;
                background: #BC1303;
                box-shadow: inset 0px 3px 1px rgba(255, 255, 255, 0.25);
                border-radius: 40px;
            }

            img {
                position: relative;
                width: 30px;
                height: 20px;
                filter: brightness(0) invert(1);
                z-index: 1;
            }
        }

        &:last-child {
            background: #0C553A;
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                width: 162px;
                height: 35px;
                top: 0;
                left: 1.5px;
                background: #007E34;
                box-shadow: inset 0px 3px 1px rgba(255, 255, 255, 0.25);
                border-radius: 40px;
            }

            img {
                position: relative;
                width: 30px;
                height: 20px;
                filter: brightness(0) invert(1);
                z-index: 1;
            }
        }
    }
}

@media (max-width: 450px) {
    .actionbuttons {
        &_button {
            padding: 10px 16px;
            font-size: 14px;
        }
    }
}