@import "@/scss/variables.module.scss";

.toast {
    background-color: #0B151E !important;
    color: #6ebeff !important;
    z-index: 100;
    border: 1px solid #6ebeff !important;;
    border-radius: 10px !important;
}

.toastSuccess {
    background-color: #0B151E !important;
    color: #6ebeff !important;
}

.toastError {
    background-color: #0B151E !important;
    color: #6ebeff !important;
}
