.backButton {
  border-radius: 20px;
  width: 100%;
  max-width: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: 1px solid #252525;
  color: #d0d0d0;
  font-size: 18px;
  background: #1a1b20;
  margin: 0 auto;
}
