@import "@/scss/variables.module.scss";

.onboarding {
    display: flex;
    flex-direction: column;
    gap: 38px;
    justify-content: center;
    height: 100vh;
    width: calc(100% - 45px);
    margin: 0 auto;
}


.slideEnter {
    opacity: 0;
    transform: translateX(100%);
}

.slideEnterActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.slideExit {
    opacity: 1;
    transform: translateX(0);
}

.slideExitActive {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    1% {
        opacity: .1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.03em;
    color: #6ebeff;
    margin-top: 30px;
}

.subTitle {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.button, .disableButton {
    border-radius: 40px;
    background: #016ea4;
    box-shadow: inset 0 3px 1px 0 rgba(255, 255, 255, 0.25);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 100%;
    color: #fff;
    margin-top: 40px;
}

.disableButton {
    opacity: 0.6;
}

.onboarding__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container {
    display: flex;
    justify-content: start;
    min-height: 100vh;
}

.outContainer {
    overflow: auto;
    height: 100vh;
}