@import "@/scss/variables.module.scss";

.nvuti {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    background-color: #081018;
    min-height: 100vh;

    &_balance {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 24px;

        &_icon {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0070FF;
            border-radius: 50%;
            font-size: 14px;
            color: #fff;
        }

        &_value {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &_number {
        color: #FFF;
        text-align: center;
        font-size: 140px;
        font-style: normal;
        font-weight: 300;
        margin: 20px 0;
    }

    &_tip {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;

        p {
            padding: 0 10px;
        }
    }

    &_bet_section {
        display: flex;
        width: 100%;
        gap: 10px;
        margin-top: 16px;
        height: 50px;
    }

    &_bet_input {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 8px;
        padding: 10px 16px;
        height: 100%;

        &_value {
            flex: 1;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }

        &_buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            button {
                background: none;
                border: none;
                color: #fff;
                font-size: 20px;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }

    &_bet_button {
        background-color: #0D6EFD;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 0 32px;
        font-size: 18px;
        font-weight: 500;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_multiplier {
        display: flex;
        width: 100%;
        gap: 16px;
        margin: 4px 0;
        height: 46px;

        button {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.07);
            border: none;
            border-radius: 8px;
            padding: 10px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
        }
    }

    h3 {
        width: 100%;
        margin: 10px 0 5px;
        padding: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 4px;
    --value: 65%;

    &_container {
        position: relative;
        width: 100%;
        margin-top: 8px;
    }

    &_value {
        color: #009BFF;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 12px;
    }

    &::-webkit-slider-runnable-track {
        height: 4px;
        border-radius: 2px;
    }

    &::-moz-range-track {
        height: 4px;
        border-radius: 2px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -10px;
        opacity: 0;
        width: 24px;
        height: 24px;
        z-index: 2;
        position: relative;
    }

    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #ff0000 0%, #0bff06 100%);
        border-radius: 0;
    }

    &_thumb_icon {
        position: absolute;
        width: 30px;
        height: 24px;
        background-color: #7a7a7a;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px;
        transform: translateX(-50%);
        left: var(--value);
        z-index: 3;

        span {
            display: block;
            width: 2px;
            height: 10px;
            background-color: #333;
            margin: 0 1px;
        }
    }
}