@import '@/scss/variables.module.scss';

.nvuti {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 8px;
  color: white;
  position: relative;

  .number_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 53px 0 65px;

    .number {
      font-size: 96px;
      font-weight: 400;
      color: #c7c7c7;
      font-family: 'Jost', sans-serif;
      letter-spacing: -0.03em;
      line-height: 90%;
    }
  }

  .range_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    margin-bottom: 9px;

    .range_button_less,
    .range_button_more {
      display: flex;
      height: 35px;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      outline: none;
      border: none;
      appearance: none;
      user-select: none;
      -webkit-user-drag: none;
      border-radius: 40px;
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;

      &.active {
        opacity: 1;
        box-shadow: 0 0 10px rgba(211, 47, 47, 0.6);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:first-child {
        background: #c81100;
      }

      &:last-child {
        background: #00ac46;

        img {
          transform: rotate(180deg);
        }
      }
    }

    .range_button_more {
      &.active {
        opacity: 1;
        box-shadow: 0 0 10px rgba(46, 125, 50, 0.6);
      }

      .up_icon {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .range_values {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;

    span {
      font-family: 'Arial', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #EDEDED;
      width: 50%;
      text-align: center;
    }
  }

  .bet_control_group {
    display: flex;
    width: 100%;
    gap: 8px;
    margin-bottom: 38px;

    .bet_control {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .bet_amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1A1B20;
        border: 1px solid #252525;
        border-radius: 10px;
        padding: 12px 15px;
        height: 70px;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #ffffff;
          margin-left: 15px;
        }

        .amount_controls {
          display: flex;
          gap: 15px;

          .minus_button,
          .plus_button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            width: 24px;
            height: 24px;

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }

      .bet_multipliers {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .divide_button,
        .multiply_button {
          flex: 1;
          background-color: #1A1B20;
          border: 1px solid #252525;
          color: #D5D5D5;
          padding: 8px 12px;
          border-radius: 10px;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          height: 40px;
          font-family: 'Inter', sans-serif;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }

    .bet_button {
      flex: 1;
      background: #0D99FF;
      border: none;
      color: white;
      padding: 12px 0;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      font-family: 'Inter', sans-serif;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }

  .percent_container {
    width: 100%;
    padding: 10px 0;

    .percent_label {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #15171E;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: 110px;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #0D99FF;
      text-transform: uppercase;
      padding: 3px 0;
      margin: 0 auto 8px;
    }

    .percent_value {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1A1B20;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #D5D5D5;
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 0;
    background: linear-gradient(to right, #a90a03, #0e6b44);
    outline: none;
    margin-bottom: 15px;
    position: relative;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background: #bbc3d6;
      cursor: pointer;
      position: relative;
      background-image: url("/range-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
    }

    &::-moz-range-thumb {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background: #bbc3d6;
      cursor: pointer;
      border: none;
      background-image: url("/range-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.amount__input {
  background: none;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #D5D5D5;
  margin-left: 15px;
  width: 100%;
}

.back_button {
    margin: 30px 0 60px;
}
