.user {
    display: flex;
    align-items: center;
    gap: 12px;

    &__avatar {
        width: 40px;
        height: 40px;
    }

    &__name {
        font-size: 14px;
        font-weight: 400;
    }
}